LOG_LEVEL=DEBUG
POSTGRES_DB=db_name
POSTGRES_USER=db_user_name
POSTGRES_PASSWORD=db_password_name
POSTGRES_HOST=db_hostname
TWITCH_USERNAME=archiemate
TWITCH_TOKEN=theverysecrettwitchirctoken // to be removed as soon as writing to chat via API is implemented
TWITCH_APP_CLIENT_ID=theverysecrettwitchappclientid
TWITCH_APP_CLIENT_SECRET=theverysecrettwitchappclientsecret
TWITCH_APP_REDIRECT_URI_POSTFIX=/oauth/twitch
YOUTUBE_APP_CLIENT_ID=theverysecret-youtubeappclientid.apps.googleusercontent.com
YOUTUBE_APP_CLIENT_SECRET=verysecureyoutubeappclientsecret
YOUTUBE_APP_REDIRECT_URI_POSTFIX=/oauthyoutube
KICK_APP_CLIENT_ID=theverysecretkickappclientid
KICK_APP_CLIENT_SECRET=theverysecretkickappclientsecret
KICK_APP_REDIRECT_URI_POSTFIX=/oauth/kick
TZ=Europe/Prague
JWT_SECRET=theverysecretgeneratedjwtsecret